In [1]:
%config IPCompleter.greedy=True

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [8]:
df = pd.read_csv('dataset/taxi+_zone_lookup.csv')

In [9]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265